{% set title = 'Update task' %}
{% extends "templates/createtask.twig" %}

{% block content %}

    <div class="col-md-8">
        <div class="content-box-large">
            <div class="panel-heading">
                <div class="panel-title">Update Task</div>
            </div>
            <div class="panel-body">
                <form action="" method="POST">
                    <fieldset>
                        
                        {% if data.errors %}
                            <div class="alert alert-danger">
                                {% for item in data.errors %}
                                    {{ item }}.<br />
                                {% endfor %}
                            </div>
                        {% endif %}
                        
                        <div class="form-group pull-left">
                                <label>Date*</label>
                                <script src="//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script>
                                <script>
                                    webshims.setOptions('forms-ext', {types: 'date'});
                                    webshims.polyfill('forms forms-ext');
                                </script>
                                <input type="date" class="form-control" name="created_at" value="{{ data.task.created_at }}" />
                            </div>
                            <div class="form-group col-sm-10">
                                <label>Subject*</label>
                                <input type="text" class="form-control" placeholder="Subject" name="subject" value="{{ data.task.subject }}">
                            </div>
                            <div class="form-group pull-left">
                                <label>Description*</label>
                                <div class="panel-body">
                                    <textarea id="tinymce_basic" name="description">{{ data.task.description }}</textarea>
                                </div>
                            </div>
                            <div class="form-group pull-left col-sm-10">
                                <label>Task Type*</label>
                                <div class="bfh-selectbox" data-name="tasktype" data-value="{{ data.task.tasktype }}" data-filter="true">
                                    <div data-value="1">Urgent</div>
                                    <div data-value="2">High</div>
                                    <div data-value="3">Standart</div>
                                    <div data-value="4">Minor</div>
                                    <div data-value="5">Low Priority</div>
                                    <div data-value="6">Critical</div>
                                </div>
                            </div>
                            <div class="form-group pull-left col-sm-10">
                                <label>Department*</label>
                                <div class="bfh-selectbox" data-name="department" data-value="{{ data.task.id_department }}" data-filter="true">
                                    <div data-value="1">HR</div>
                                    <div data-value="2">Development</div>
                                    <div data-value="3">Delivery</div>
                                    <div data-value="4">Testing</div>
                                    <div data-value="5">English Department</div>
                                    <div data-value="6">Training Center</div>
                                </div>
                            </div>
                            <div class="form-group pull-left col-sm-10">
                                <label>Assign employee*</label>
                                <div class="bfh-selectbox" data-name="assign" data-value="{{ post.assign ? post.assign : data.id_user }}" data-filter="true">
                                    
                                    {% for item in data.users %}
                                    <div data-value="{{ item.id_user }}">{{ item.firstname }} {{ item.lastname }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                    </fieldset>
                    <div>
                        <button type="back" class="btn btn-primary pull-left" style="margin: 0 2px">BACK</button>
                        <button type="submit" class="btn btn-primary pull-right" style="margin: 0 2px">UPDATE</button>
                        <button type="reset" class="btn btn-primary pull-right" style="margin: 0 2px">CANCEL</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}