{% extends "templates/user.twig" %}

{% block content %}

    <div class="col-md-6">
        <div class="content-box-large">
            <div class="panel-heading">
                <div class="panel-title">Create New User</div>
            </div>
            <div class="panel-body">
                <form action="" method="POST">
                    <fieldset>
                        
                        {% if data.user is object %}
                            <div class="alert alert-success">
                                You successfully created a new user!
                            </div>
                        {% elseif data.errors != null %}
                            <div class="alert alert-danger">
                                {% for item in data.errors %}
                                    {{ item }}.<br />
                                {% endfor %}
                            </div>
                        {% endif %}
                        
                        <div class="form-group">
                            <label>Username*</label>
                            <input class="form-control" placeholder="Username" type="text" name="username" value="{{ post.username }}">
                        </div>
                        <div class="form-group">
                            <label>Email*</label>
                            <input class="form-control" placeholder="Email" type="text" name="email" value="{{ post.email }}">
                        </div>
                        <div class="form-group">
                            <label>Firstname*</label>
                            <input class="form-control" placeholder="Firstname" type="text" name="firstname" value="{{ post.firstname }}">
                        </div>
                        <div class="form-group">
                            <label>Lastname*</label>
                            <input class="form-control" placeholder="Lastname" type="text" name="lastname" value="{{ post.lastname }}">
                        </div>
                        <div class="form-group">
                            <label>Password*</label>
                            <input class="form-control" placeholder="Password" type="password" name="password" value="{{ post.password }}">
                        </div>
                        <div class="form-group">
                            <label>Confirm Password*</label>
                            <input class="form-control" placeholder="Confirm Password" type="password" name="confirm_password" value="{{ post.confirm_password }}">
                        </div>
                        <div class="form-group">
                            <label>User role</label>
                            <select name="user_role">
                                <option value="Admin" {% if post.user_role == 'Admin' %} selected="selected" {% endif %}>Admin</option>
                                <option value="Manager" {% if post.user_role == 'Manager' %} selected="selected" {% endif %}>Manager</option>
                                <option value="Employee" {% if post.user_role == 'Employee' %} selected="selected" {% endif %}>Employee</option>
                            </select>
                        </div>
                    </fieldset>
                    <div>
                        <button type="submit" class="btn btn-primary pull-right" style="margin: 0 2px">CREATE</button>
                        <button type="reset" class="btn btn-primary pull-right" style="margin: 0 2px">CANCEL</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}