{% extends "templates/userslist.twig" %}

{% block content %}

    <div class="col-md-6">
        <button type="button" class="btn btn-primary" data-toggle="collapse" 
                data-target="#filter-panel" style="margin-bottom: 2px;">
            <span class="glyphicon glyphicon-filter"></span>FILTER
        </button>
        <div id="filter-panel" class="collapse filter-panel">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form" role="form">
                        <div class="form-group">
                            <label class="filter-col" for="pref-search">Text:</label>
                            <input type="text" class="form-control input-sm" id="pref-search">
                        </div>
                        <div class="form-group">
                            <label class="filter-col" for="pref-perpage">Group:</label>
                            <select id="pref-perpage" class="form-control">
                                <option value="1">Admin</option>
                                <option value="2">Manager</option>
                                <option value="3">Employee</option>
                            </select>                                
                        </div>
                        <div class="form-group">
                            <button type="submit" style="margin: 0 2px" 
                                    class="btn btn-default filter-col pull-right">Filter</button> 
                            <button type="reset" style="margin: 0 2px" 
                                    class="btn btn-default filter-col pull-right">Reset</button> 
                        </div>
                    </form>
                </div>
            </div>
        </div>   
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title">Users list</div>
                    <div class="panel-options">
                        <a href="{{ base_url('user/create') }}"><button class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-plus"></span> NEW USER</button>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Userrole</th>
                                <th>Created Date</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in data %}
                            <tr>
                                <td>{{ item.firstname }} {{ item.lastname }}</td>
                                <td>{{ item.username }}</td>
                                <td>{{ item.user_role }}</td>
                                <td>{{ item.created_date }}</td>
                                <td>
                                    <a href="{#{{ path('delete', {'id': item.id_user}) }}#}" onclick="delete_user()">
                                        <span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                                <td>
                                    <a href="{{ urlPlusId(base_url('user/update'), item.id_user) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}